cryptography==39.0.1
# Note: 'tkinter' is usually included with Python installations, so it typically doesn't need to be installed separately.
# 'smtplib' is also included with Python's standard library.
